@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.titleWrapper, p {
    font-family: 'Montserrat', sans-serif;
}

.title_2 {

    font-size: 1.5em;
    color: #e6e646;
}

.title_3 {
    font-size: 2em;
}

.btn {
    color: #e6e646;
    border: 1px solid #e6e646;
}

.btn:hover {
    color: #daff00;
    border: 1px solid #daff00;
    box-shadow: 1px 1px #daff00;
}

.contentTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
}

.contentTitle_2{
    font-size: 32px;
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    .title {
        font-size: 2em;
    }

    .title_2{
        font-size: 1em;
    }

    .title_3 {
        font-size: 1.5em;
    }

}