@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.contentImg {
  max-height: 450px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px 4px #bbaaaa;
}

/*@media screen and (max-width: 991px){*/
/*  .contentImg {*/
/*    border-radius: 25px;*/
/*    box-shadow: 4px 4px 4px 4px #bbaaaa;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 992px){*/
/*  .contentImg {*/
/*    !*width: 500px;*!*/
/*    !*height: 500px;*!*/
/*    border-radius: 25px;*/
/*    box-shadow: 4px 4px 4px 4px #bbaaaa;*/
/*  }*/
/*}*/