.hamburger {
    font-size: 1em;
    color: #e6e646;
    display: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #414141;
    opacity: 90%;
    min-width: 160px;
    box-shadow: 0px 3px 6px 0px #ffffff;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}


@media screen and (max-width: 720px) {
    .hamburger{
        display: flex;
    }

    .hamburger:hover{
        color: #daff00;
    }

    .navbar {
        display: none
    }

}
