.contact {
    background-image: url("../images/shutterstock_487315252.jpg");
}

.headerTitle {
    font-size: 1.5em;
}

.textArea {
    width: 100%;
}

.inputField {
    width: 100%;
}

.sendBtn {

}