.headerWrapper {
    font-family: 'Montserrat', sans-serif;
    /*background-color: #8d7f5a;*/
    background-image: url("../images/shutterstock_400753009.jpg");
    background-repeat: no-repeat;
    border-bottom: 1px inset #343434;
    box-shadow: 0px 2px #000000;
}

.title_2 {
    font-size: 1.5em;
}

.title_3 {
    font-size: 2em;
}


@media screen and (max-width: 720px) {

    .title {
        font-size: 2em;
    }

    .title_2 {
        font-size: 1em;
    }

    .title_3 {
        font-size: 1.5em;
    }

}

