.headerWrapper {
    font-family: 'Montserrat', sans-serif;
    /*background-color: #333333;*/
    background-image: linear-gradient(to bottom, #4c4c4c, #0e0909, #4c4c4c);
}


.titleWrapper, p {

}

.title_2 {
    font-size: 1.5em;
}

.title_3 {
    font-size: 2em;
}

@media screen and (max-width: 720px) {
    .title {
        font-size: 2em;
    }

    .title_2 {
        font-size: 1em;
    }

    .title_3 {
        font-size: 1.5em;
    }

    .hamburger {
        display: flex;
    }

    .navbar {
        display: none
    }

    .dropdown-content {
        font-size: 0.6em;
    }

}
