.helHeaderImg {
    background-image: url("../images/hellenddak.jpg");
}

.headerTitle {
    font-size: 1.5em;
}

.helMidImg {
    background-image: url("../images/helMidImg.jpg");
}

.contentImg {
    border-radius: 25px;
    box-shadow: 4px 4px 4px 4px #bbaaaa;
}