
.contentTitle, .talentTitle {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 4px;
}

.contentTitle_2, .talentTitle_2 {
    font-size: 2em;

}

.contentTitle_3 {
    font-size: 2.5em;
    font-weight: bold;
}

.contentText, .talentText {

    font-size: 1em;
}

.werkenOpDak {
    border-radius: 20px;
    box-shadow: 3px 3px #414141;
}

.dakRamen {
    margin-top: -30%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 3px 3px #414141;
}

.dakpannen {
    background-image: url("../images/shutterstock_41.jpg");

}

.contacteer_btn {
    background-color: #ffc107;
    color: #414141;
}

.contacteer_btn:hover {
    background-color: #414141;
    color: #ffc107
}

.container_2 {
    position: relative;
    text-align: center;
    color: white;
}

.offerte {
    color: #414141;
}

.offerte:hover {
    color: #414141;
    text-decoration: underline;
}

.dienstenWrapper {
    background-color: #333333;
}

.logoMidPage {
    background-color: #333333;
}

.card {
    background-color: #e6e646;
    border: 1px inset #5a5959;
    border-radius: 12px;
    width: 450px;
    height: auto;
    opacity: 90%;
    box-shadow: 2px 4px 6px #343434;
}

.card:hover {
    background-color: #e6e646;
    border: 1px inset #5a5959;
    border-radius: 12px;
    height: auto;
    opacity: 90%;
    box-shadow: 3px 6px 8px #343434;
}

.dienstCard {
    color: #ffc107;
    border: 1px inset #e6e646;
    border-radius: 12px;
    width: 100%;
    height: auto;
    opacity: 90%;
    /*box-shadow: 2px 4px 6px #343434;*/
}

.dienstCard:hover {
    background-color: #ffc107;
    color: #414141;
    box-shadow: 2px 4px 6px #d4d4d4;
}

.cardIcon {
    font-size: 1.5em;
}

.card h2 {
    font-size: 18px;
    padding: 15px;
}

.card p {
    font-size: 16px;
    padding: 15px;
}

.card i {
    font-size: 32px;
}

.centered_3 {
    position: absolute;
    transform: translate(0%, -75%);
}


@media screen and (max-width: 720px) {
    .contentTitle, .talentTitle, .dienstTitle {
        font-size: 0.7em;
        font-weight: bold;
        letter-spacing: 4px;
    }

    .contentTitle_2, .talentTitle_2 {
        font-size: 1em;
        font-weight: bold;
    }

    .dienstTitle_2 {
        font-size: 2em;
    }

    .contentTitle_3 {
        font-size: 2em;
        font-weight: bold;
    }

    .contentText, .talentText {
        font-size: 1em;
        letter-spacing: 3px;

    }

    .card {
        background-color: #e6e646;
        border: 1px inset #5a5959;
        border-radius: 12px;
        width: 300px;
        height: auto;
        opacity: 90%;
        box-shadow: 2px 4px 6px #343434;
    }

    .card:hover {
        background-color: #e6e646;
        border: 1px inset #5a5959;
        border-radius: 12px;
        width: 300px;
        height: auto;
        opacity: 90%;
        box-shadow: 3px 6px 8px #343434;
    }
}