.homeContent {
    font-family: 'Montserrat', sans-serif;
}

.contentTitle {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 4px;
}

.contentTitle_2 {
    font-size: 2.5em;
}

.contentTitle_3 {
    font-size: 2.5em;
    font-weight: bold;
}

.contentText {
    font-size: 1.3em;
}

.werkenOpDak {
    border-radius: 20px;
    box-shadow: 3px 3px #414141;
}

.dakRamen {
    margin-top: -30%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 3px 3px #414141;
}

.homeMidImg {
    background-image: url("../images/shutterstock_41.jpg");
}

.contacteer_btn {
    background-color: #ffc107;
    color: #414141;
}

.contacteer_btn:hover {
    background-color: #414141;
    color: #ffc107
}

.contacteer_btn2 {
    background-color: #ffc107;
    color: #414141;
}

.contacteer_btn2:hover {
    background-color: #414141;
    color: #ffc107
}

.container_2 {
    position: relative;
    text-align: center;
    color: white;
}

.card {
    background-color: #bbbbbb;
    border: 1px inset #ffc107;
    border-radius: 12px;
    width: 100%;
    height: auto;
    box-shadow: 2px 4px 6px #343434;
}

.cardIcon {
    font-size: 1.5em;
}

.card h2 {
    font-size: 18px;
    padding: 15px;
}

.card p {
    font-size: 16px;
    padding: 15px;
}

.card i {
    font-size: 32px;
}

.centered_3 {
    position: absolute;
    transform: translate(0%, -75%);
}



@media screen and (max-width: 991px) {

    .contentText, .talentText {
        letter-spacing: 2px;
    }

}

@media screen and (min-width: 992px) {

    .card {
        background-color: #bbbbbb;
        border: 1px inset #ffc107;
        border-radius: 12px;
        width: 100%;
        height: auto;
        box-shadow: 2px 4px 6px #343434;
    }

    .card:hover {
        background-color: #ffc107;
        border: 1px inset #5a5959;
        border-radius: 12px;
        height: auto;
        filter: opacity(90%);
        box-shadow: 3px 6px 8px #343434;
    }

}