.real {
    background-image: url("../images/real_1.jpg");
}

.headerTitle {
    font-size: 1.5em;
}

.coontentImg {

}

@media screen and (max-width: 991px) {
    .hamburger {
        display: flex;
    }

    .navbar {
        display: none
    }

    .dropdown-content {
        font-size: 0.6em;
    }

}
